@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/WorkSans.woff2') format('woff2'),
        url('../fonts/WorkSans.woff') format('woff');
}

.maketforfigma {
  flex: 0 0 auto;
  background: #313a46;
  font-weight: bold;
  display: flex;
}

.maketforfigma img {
  border-radius: 10px;
  margin: 4px 0 0 4px;
}

.maketforfigma p {
  color: #98a6ad;
  text-decoration: none;
  letter-spacing: .01875rem;
  font-size: .775rem;
  padding: 0 10px;
  line-height: 0.70rem;
}

.maketforfigma p > a {
  color: #bbe4f0;
  font-weight: bold;
}

.maketforfigma p > a:hover {
  color: #ffffff
}

.main {
  flex: 1 0 auto;
}

html {
  height: 100%;
}

/* Global */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}


button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #121214;
  color: #FFFFFF;
}

.button {
  display: inline-block;
  padding: 7px 20px;
  background-color: #0033FF;
  border-radius: 8px;
}

.button:hover {
  background-color: rgba(0, 51, 255, 0.6);
}

/* Header */

.header {
  display: flex;
  align-items: center;
  padding: 17px 23px 19px 20px;
}

.header__logo-link {
  margin-right: 29px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
}

.navigation__link {
  line-height: 20px;
  color: #A6A8AD;
}

.navigation__link:hover {
  color: #FFFFFF;
}

.navigation__item:not(:last-child) {
  margin-right: 20px;
}

.user-menu {
  display: flex;
  margin-left: auto;
}

.button-login {
  padding: 8px 20px;
  line-height: 20px;
  color: #A6A8AD;
}

.button-login:hover {
  color: #FFFFFF;
}

.button-sign {
  padding: 8px 20px;
  line-height: 18px;
  color: #121214;
  background-color: #FFFFFF;
  border-radius: 32px;
}

.button-sign:hover {
  background-color: #A6A8AD;
}

.free {
  padding: 11px;
  display: flex;
  justify-content: center;
  background-color: #0033FF;
}

.free__text {
  margin-right: 20px;
}

.free__link:hover {
  color: #A6A8AD;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

/* Intro */

.intro {
  padding: 140px 48px 15px;
  background-image: url(../img/intro-bg.jpg);
  background-repeat: no-repeat;
  background-color: #121214;
}

.intro__content {
  max-width: 420px;
  margin-bottom: 140px;
}

.intro__title {
  margin-bottom: 26px;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 1.08px;
}

.intro__text {
  margin-bottom: 44px;
  font-size: 20px;
}

.button-intro {
  padding: 16px 32px;
}

.spoiler__label {
  display: block;
  padding: 10px 30px 30px;
  text-align: center;
  cursor: pointer;
}

.spoiler__label::before {
  content: '';
  position: absolute;
  left: 50%;
  margin-top: 40px;
  width: 12px;
  height: 8px;
  background-image: url(../img/down-icon.svg);
  background-repeat: no-repeat;
  transform: translateX(-50%);
}

.spoiler__content {
  width: 60%;
  margin: 0 auto;
  display: none;
  padding: 30px;
  background-color: #A6A8AD;
  color: #121214;
}

.spoiler__title {
  padding: 10px;
  margin-bottom: 20px;
  color: #FFFFFF;
  background-color: #0033FF;
}

.checkbox:checked ~ .spoiler__content {
  display: block;
}

.checkbox:checked + .spoiler__label::before {
  transform: translateX(-50%) rotate(180deg);
  transition: transform 0.35s;
}

/* Sections */

.section__title {
  margin-bottom: 12px;
  font-size: 28px;
  line-height: 36px;
}

.section__subtitle {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #A6A8AD;
}

.section__text {
  margin-bottom: 20px;
}

.section__wrapper {
  padding: 96px 48px 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__content {
  width: calc(47% - 83px);
}

.section__image {
  width: 53%;
}

.workflow {
  text-align: right;
}

/* Creators */

.creators {
  padding: 120px 48px;
}

.creators__title {
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 36px;
}

.creators__list {
  display: flex;
  gap: 10px;
}

.creators__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
  background-color: #F8F8F8;
  border-radius: 8px;
}

.creators__image {
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.creators__text {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.3px;
  color: #000000;
}

.creators__name {
  display: block;
  margin-top: auto;
  font-size: 14px;
  line-height: 20px;
  color: #767676;
}

/* Try Splice */

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 728px;
  background-image: url(../img/closing-bg.jpg);
  background-repeat: no-repeat;
}

.start__title {
  margin-bottom: 57px;
  font-size: 54px;
  line-height: 60px;
}

.button-start {
  padding: 8px 20px;
}

/* Footer */

.footer {
  padding: 48px;
}

.footer__wrapper {
  margin-bottom: 68px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}

.footer__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 24px;
}

.footer__item {
  font-size: 12px;
  line-height: 18px;
  color: #A6A8AD;
}

.footer__item:not(:last-child) {
  margin-bottom: 11px;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__sublist + .footer__sublist {
  margin-top: 24px;
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  font-size: 12px;
  line-height: 18px;
  color: #A6A8AD;
}

.footer__copyright {
  margin-right: 26px;
}

.footer__info-link:hover {
  opacity: 0.7;
}

.footer__info-link-fb {
  width: 16px;
  height: 16px;
}

.fb-icon {
  fill: #FFFFFF;
}

.footer__info-link-fb:hover {
  opacity: 0.7;
}
